_dev/
.idea/
vendor/
app/logs/*
upl/arqs/*
upl/imgs/*
nbproject/
app/config/myConfig.php
app/config/database.php
*.sublime-project
*.sublime-workspace
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.db